/* -----------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------- (Temporarily Discontinued) --------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* removing autocomplete chrome color (doesn't work actually) */
/* *:-webkit-autofill, 
*:-webkit-autofill:hover, 
*:-webkit-autofill:focus, 
*:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px rgb(54, 54, 54) inset !important;
    -webkit-text-fill-color: #fff !important;
} */
/* ------------------- cookies ------------------- */
.cc-color-override-183111374.cc-window {
    color: #000;
    background-color: rgb(242, 242, 242);
}
.cc-color-override-183111374 .cc-btn, 
.cc-color-override-183111374 .cc-btn:hover, 
.cc-color-override-183111374 .cc-btn:focus {
    color: rgb(242, 242, 242);
    background-color: #363636;
    border-color: transparent;
}
.cc-color-override-183111374 .cc-btn:hover, 
.cc-color-override-183111374 .cc-btn:focus {
    opacity: .8;
}
.cc-color-override-183111374 .cc-link, 
.cc-color-override-183111374 .cc-link:active, 
.cc-color-override-183111374 .cc-link:visited {
    color: #000;
}

/* ------------------- bg #2d2d2d ------------------- */
body, .navbar, .aboutme, .contactme-name, .experiences-list-item {
    background-color: #fff;
    animation: changeBgColor 2.5s;
    -webkit-animation: changeBgColor 2.5s;
    animation-fill-mode: forwards;
}
/* ------------------- color #fff ------------------- */
.navbar-container, .section-title, .aboutme-div, .experiences-subtitle, .education-subtitle, .education-section, .languages-subtitle, .contactme-subtitle {
    color: #212529;
    animation: changeTextColor 2.5s;
    -webkit-animation: changeTextColor 2.5s;
    animation-fill-mode: forwards;
}
@keyframes changeBgColor { 
    100% {
        background: #2d2d2d;
    } 
}
@keyframes changeTextColor { 
    100% { 
        color: #fff;
    } 
}

/* ------------------- navbar ------------------- */
/* menu on desktop, subtitle */
.navbar-light .navbar-nav .nav-link, .navbar-subtitle {
    color: rgba(255, 255, 255, .5)!important;
}
/* name, home link */
.navbar-light .navbar-brand, 
.navbar-light .navbar-nav .active > .nav-link {
    color: rgba(255, 255, 255, .9)!important;
}
/* full-page-menu */
.overlay {
    background-color: #363636;
}
.overlay a{
    color: rgba(255, 255, 255, .8)!important;
}


/* ------------------- body ------------------- */
/* ------- separate line between sections ------- */
.break-sections hr {
    color: #b2b2b2;
    background-color: #b2b2b2;
}
/* ------- about me ------- */
/* title and description */
.aboutme-text {
    color: #f2f2f2;
}

/* ------- experiences ------- */
.experiences-list-item,
/* ------- languages and tools ------- */
.languages-list li p,
.tools-div p,
/* ------- tools ------- */
.hobbies-name,
/* ------- contactme ------- */
.contactme-name {
    color: #f0f0f0;
    border-color: #b2b2b2!important;
}
/* ------- experiences ------- */
.experiences-list-item p a,
/* ------- education ------- */
.education-section a,
/* ------- contactme ------- */
.contactme-subtitle a {
    color: #f9f9f9;
    border-bottom-color: rgba(249, 249, 249,.3);
}
/* ------- experiences ------- */
.experiences-list-item p a:hover,
/* ------- education ------- */
.education-section a:hover,
/* ------- contactme ------- */
.contactme-subtitle a:hover {
    color: rgba(249, 249, 249,.6);
    border-color: rgba(249, 249, 249,.15);
}
/* ------- experiences ------- */
.experiences-date,
/* ------- education ------- */
.education-date {
    color: #efefefcb!important;
}
/* ------- contactme ------- */
.contactme-subtitle i, .contactme-subtitle a {
    color: #f9f9f9;
}
.contactme-form-div input, 
.contactme-form-div textarea {
    border-color: #101010;
    background: rgb(54, 54, 54, .6);
    color: #fff;
}
input:focus:not(.contactme-form-btn), 
textarea:focus {
    border-color: #101010!important;
    background: rgb(54, 54, 54, .6)!important;
    color: #fff!important;
    box-shadow: none!important;
}
.contactme-form-btn {
    color: #000;
    background-color: #fff;
    border-color: #fff;
    font-weight: 500;
    opacity: .8;
}
.contactme-form-btn:hover {
    opacity: 1;
}
/* ------- contactme end ------- */

/* ------------------- back to the top button ------------------- */
#return-to-top {
    background: rgba(242, 242, 242, 0.7);
}
#return-to-top i {
    color: #4d4d4d;
}
#return-to-top:hover {
    background: rgba(242, 242, 242, 0.9);
}
#return-to-top:hover i {
    color: #4d4d4d;
}

/* ------------------- footer ------------------- */
.footer {
    animation: changeFooterColor 2.5s;
    -webkit-animation: changeFooterColor 2.5s;
    animation-fill-mode: forwards;
}
/* contanct links */
.contact-icon a {
    color: rgba(255, 255, 255, .8);
}
.contact-item-hover {
    color: rgba(255, 255, 255, 0.3)!important;
}
@keyframes changeFooterColor {
    100% {
        background-color: #363636;
        color: rgba(255, 255, 255, .9);
    }
}

/* ------------------- media query ------------------- */
/* large tablet */
@media screen and (max-width: 992px) {
/* ------------------- navbar ------------------- */
    /* navbar */
    .navbar-container,
    /* mobile button */
    .navbar-light .navbar-toggler {
        background-color: #363636;
        border-color: #363636;
    }
    .navbar-light .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }
    /* navbar fixed-top */
    .navbar-fix {
        background-color: #363636!important;
        /* border-color: #363636!important; */
        animation: changeBgColorMb 2.5s;
        -webkit-animation: changeBgColorMb 2.5s;
        animation-fill-mode: forwards;
    }
    @keyframes changeBgColorMb { 
        100% {
            background-color: #363636!important;
        } 
    }
}
/* tablet */
@media screen and (max-width: 768px) {

}
/* smartphone */
@media screen and (max-width: 576px) {

}
/* small smartphone */
@media screen and (max-width: 343px) {
    
}