/* navbar */
.navbar-div {
    line-height: 90%;
}
.navbar {
    transition: 0.8s;
    z-index: 99;
}
/* name */
.navbar-title {
    line-height: normal;
    font-size: 36px;
    font-weight: 100;
    letter-spacing: 0.35em;
}
/* subtitle */
.navbar-subtitle {
    font-size: 16px;
}
/* menu on desktop */
.nav-item {
    font-size: 12px;
    letter-spacing: .2em;
}


/* media query */

/* all other devices */
@media screen and (min-width: 993px) {
    /* navbar */
    .navbar {
        padding: 2.5rem 1rem;
    }
}
/* large tablet */
@media screen and (max-width: 992px) {
    /* navbar */
    .navbar {
        padding: 1.25rem 1rem;
    }
    /* name */
    .navbar-title {
        letter-spacing: 0.25em;  
    }
    /* fixed-top */
    .navbar-fix {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}
/* tablet */
@media screen and (max-width: 768px) {
    /* name */
    .navbar-title {
        font-size: 32px;
        letter-spacing: 0.15em;  
    }
}
/* smartphone */
@media screen and (max-width: 576px) {
    /* name */
    .navbar-title {
        font-size: 22px;
    }
}
/* small smartphone */
@media screen and (max-width: 343px) {
    /* name */
    .navbar-title {
        font-size: 18px;
        letter-spacing: 0.05;  
    }
}