@import "https://fonts.googleapis.com/css?family=Rubik+Mono+One";
.words {
  font-family: 'Rubik Mono One', sans-serif;
  text-align: center;
  font-size: 0;
  line-height: 1;
}
.words span {
  color: #fff;
  font-size: 20px;
  display: inline-block;
  -webkit-animation: move 2s ease-in-out;
          animation: move 2s ease-in-out;
          animation-fill-mode: forwards;

}
.words span:nth-child(2) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.words span:nth-child(3) {
  -webkit-animation-delay: 1.0s;
          animation-delay: 1.0s;
}
 
@-webkit-keyframes move {
  0% {
    -webkit-transform: translate(-33%, 0);
    transform: translate(-33%, 0);
  }
  50% {
    text-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
  }
  100% {
    color: #2d2d2d;
    -webkit-transform: translate(33%, 0);
            transform: translate(33%, 0);
  }
}
 
@keyframes move {
  0% {
    -webkit-transform: translate(-33%, 0);
    transform: translate(-33%, 0);
  }
  50% {
    text-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
  }
  100% {
    color: #2d2d2d;
    -webkit-transform: translate(33%, 0);
            transform: translate(33%, 0);
  }
}
/* --------------------
Mobile
-------------------- */
@media screen and (max-width: 992px) {
  .words span {
    color: rgb(242, 242, 242);
    font-size: 20px;
    display: inline-block;
    -webkit-animation: moveMobile 2s ease-in-out;
            animation: moveMobile 2s ease-in-out;
            animation-fill-mode: forwards;
  
  }
}
@-webkit-keyframes moveMobile {
  0% {
    -webkit-transform: translate(-33%, 0);
    transform: translate(-33%, 0);
  }
  50% {
    text-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
  }
  100% {
    color: #363636;
    -webkit-transform: translate(33%, 0);
            transform: translate(33%, 0);
  }
}
 
@keyframes moveMobile {
  0% {
    -webkit-transform: translate(-33%, 0);
    transform: translate(-33%, 0);
  }
  50% {
    text-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
  }
  100% {
    color: #363636;
    -webkit-transform: translate(33%, 0);
            transform: translate(33%, 0);
  }
}